@import '../../styles/palette.scss';

.scheduler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 4%;
    user-select: none;
    min-height: 100vh;

    @media (max-width: 840px) {
        padding: 7px;
    }
}

.main {
    width: 100%;
    max-width: 950px;
    height: 100%;
    padding: 50px 85px;
    background-color: $paletteColor4;
    border-radius: 10px;
    box-shadow: 6px 6px 14px $rgbaColor2;

@media (max-width: 840px) {
    padding: 7px;
}
}


.tasksSection {
    margin-bottom: 31px;

    @media (max-width: 840px) {
        margin-bottom: 31px;
    }
}
