@import '../../styles/palette.scss';

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;

  @media (max-width: 840px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-size: 32px;
  line-height: 50px;
  font-weight: 700;
  color: $paletteColor5;

  @media (max-width: 840px) {
    margin-bottom: 15px;
    font-size: 35px;
    text-align: center;
  }

  @media (max-width: 380px) {
    font-size: 28px;
  }
}

.input {
  @media (max-width: 840px) {
    width: 100%;
  }
}